#symbol{
  width: 40px;
  height: 40px;
}
h2{
  font-family: "Marker Felt", comicsnasMC;
  text-align: center;
  margin: 35px;

}
.list ;{
  font-family: "Marker Felt"
  color: red;
}
.title{
  text-align: center;
  font-size: 40px;
  margin: 20px;
  color: white;
}
.item{
  font-family: "Marker Felt";
  font-size: 20px;
  color: red;
  margin: 5px ;
}
p{
  font-family: "Marker Felt";
  margin: 20px;
  color: green;
}
}
a{
  font-family: "Marker Felt";
  font-size: 2rem;
  color: red;

}
li{
  margin: 10px;
  font-size: 20px;
  font-family: "Marker Felt";
  color: red 
}
h3{
  text-align: center;
  font-family: "Marker Felt";
}
h6{
  font-size: 500px;
}
b{
  font-size: 15px;
}
.poker{
  font-size: 200px;
}
.ion-home{
  size: 1rem;
}
#divide{
  margin: 0px;
}
.indent{
  font-family: "Marker Felt";
  margin: 13px
}
.big_indent{
  font-size: 13px
}
